<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.auais.note.dao.AudioTagMapper">
	<resultMap id="BaseResultMap" type="com.auais.note.pojo.AudioTag">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="tagType" property="tagType" jdbcType="TINYINT" />
		<result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="REAL" />
		<result column="timePoint" property="timePoint" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.auais.note.pojo.AudioTag" extends="BaseResultMap">
		<result column="text" property="text" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, tagType, imageUrl, size, timePoint
	</sql>
	<sql id="Blob_Column_List">
		text
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_audio_tag
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectListByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_audio_tag 
		where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		t_audio_tag
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByIds" parameterType="com.auais.note.pojo.AudioTag">
		delete from
		t_audio_tag
		where id in
		<foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
			#{item.id,jdbcType=VARCHAR}
		</foreach>
	</delete>
	<delete id="deleteByIdsArray" parameterType="java.lang.String">
		delete from
		t_audio_tag
		where id in
		<foreach item="item" index="index" collection="array" open="(" close=")" separator=",">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</delete>
	<insert id="batchInsert" parameterType="com.auais.note.pojo.AudioTag">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			insert into t_audio_tag (id,tagType, imageUrl, size, timePoint, text)
			values (#{item.id,jdbcType=VARCHAR},
				#{item.tagType,jdbcType=TINYINT},
				#{item.imageUrl,jdbcType=VARCHAR},#{item.size,jdbcType=REAL},
				#{item.timePoint,jdbcType=VARCHAR}, #{item.text,jdbcType=LONGVARCHAR})
		</foreach>
	</insert>
	<insert id="insert" parameterType="com.auais.note.pojo.AudioTag">
		insert into t_audio_tag (id,
		tagType, imageUrl,
		size, timePoint, text)
		values (#{id,jdbcType=VARCHAR},
		#{tagType,jdbcType=TINYINT},
		#{imageUrl,jdbcType=VARCHAR},#{size,jdbcType=REAL}, 
		#{timePoint,jdbcType=VARCHAR}, #{text,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.auais.note.pojo.AudioTag">
		insert into t_audio_tag
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="tagType != null">
				tagType,
			</if>
			<if test="imageUrl != null">
				imageUrl,
		      </if>
		      <if test="size != null" >
		        size,
			</if>
			<if test="timePoint != null">
				timePoint,
			</if>
			<if test="text != null">
				text,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="tagType != null">
				#{tagType,jdbcType=TINYINT},
			</if>
			<if test="imageUrl != null">
				#{imageUrl,jdbcType=VARCHAR},
			</if>
		      <if test="size != null" >
		        #{size,jdbcType=REAL},
		      </if>
			<if test="timePoint != null">
				#{timePoint,jdbcType=VARCHAR},
			</if>
			<if test="text != null">
				#{text,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.auais.note.pojo.AudioTag">
		update t_audio_tag
		<set>
			<if test="tagType != null">
				tagType = #{tagType,jdbcType=TINYINT},
			</if>
			<if test="imageUrl != null">
				imageUrl = #{imageUrl,jdbcType=VARCHAR},
			</if>
		      <if test="size != null" >
		        size = #{size,jdbcType=REAL},
		      </if>
			<if test="timePoint != null">
				timePoint = #{timePoint,jdbcType=VARCHAR},
			</if>
			<if test="text != null">
				text = #{text,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.auais.note.pojo.AudioTag">
		update
		t_audio_tag
		set tagType = #{tagType,jdbcType=TINYINT},
		imageUrl = #{imageUrl,jdbcType=VARCHAR},
		size = #{size,jdbcType=REAL},
		timePoint =#{timePoint,jdbcType=VARCHAR},
		text = #{text,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.auais.note.pojo.AudioTag">
		update t_audio_tag
		set tagType = #{tagType,jdbcType=TINYINT},
		imageUrl =
		#{imageUrl,jdbcType=VARCHAR},
      		size = #{size,jdbcType=REAL},
		timePoint = #{timePoint,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>